.page{
   text-align: center;
   margin: 2rem 2rem;
   color: rgb(71, 67, 67);
}

.line{
    border: 1px solid grey;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.responsive{
    width: 40%;
    height: auto;
}

.second-seg{
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 2rem; 
}

.middle{
    display: flex;
    justify-content: center;
    align-self: center;
}

.card-border{
    border: none !important;
}

.top-margin{
    margin-top: 2rem;
}

.title{
    font-size: 30px;
    font-family: monospace;
}

.text{
    font-size: 22px;
    font-family: monospace;
}

.sec-seg-text{
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;
}
.bold{
    font-weight: bold;
}