.container{

}

.header{
    /* background-color: rgb(39, 37, 37); */
    width: 100%;
}

.navbar-brand{
    color: white;
    text-align: center;
    padding-right: 0 !important;
}

.link{
    color: black;
}
