.container{

}

.header{
    /* background-color: rgb(39, 37, 37); */
    width: 100%;
}

.navbar-brand{
    color: white;
    text-align: center;
    padding-right: 0 !important;
}

.link{
    color: black;
}
.fix{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 563;
    background-color: white;
    width: 100%;
}