.pic-height{
    height: 10vh;
    max-width: auto;
    
}

.black-bottom{
    border-bottom: 1px solid black !important;
}

.willys-back{
    height: 2.7vh;
    background: url("../images/willys2.png") no-repeat center;
    background-size: contain;
    /* width: auto; */
}
.ica-back{
    height: 5vh;
    background: url("../images/ica-logo-share.jpg") no-repeat center;
    background-size: contain;
    /* width: auto; */
}
.mathem-back{
    height: 8vh;
    background: url("../images/mathem.png") no-repeat center;
    background-size: contain;
}